.vscode
.flintc
.cache
.zig-cache
documents/LLDB_Cheatsheet.md
llvm/llvm-dev
xml2/xml2
build
vendor
main
/test
output.ll
output.bc
ft_test
c_test
scripts/profiling
main.pdb
main.obj
main.o
test.o
logfile
zig-out
test
